<div class="container">
  <h1 class='header'>
    <%= @user.firstname %>
    <%= @user.lastname %>
  </h1>
  <div class='center'>
    <h4>Username:
      <%= @user.username %>
    </h4>
    <h5>
      <%= @user.email %></h5>
  </div>
  <div>
    <h3 class='altheader'>To-Do</h3>
    <%= render @user.items %>
  </div>
  <br>
  <% if current_user %>
  <%= render 'items/form', item: Item.new, user: @user %>
  <% end %>
</div>
